.header {
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding-bottom: 41px;
}

@media screen and (max-width: 620px) {
  .header {
    padding: 0 0 32px 27px;
    box-sizing: border-box;
    max-height: 56px;
    padding-top: 28px;
  }

  .header__image {
    width: 126px;
    height: 24px;
    padding-left: 0;
  }
}

@media screen and (max-width: 820px) {
  .header {
    box-sizing: border-box;
    padding-right: 19px;
    padding-left: 19px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 100%;
    margin-top: 28px;
    padding: 0;
  }
  .header__image {
    padding: 0 167px 32px 27px;
  }
}
