.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 19px;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: visibility 0s 0.6s, opacity 0.6s;
}

.modal_opened {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.6s;
  pointer-events: auto;
}

.modal__heading {
  font-weight: 900;
  font-size: 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  margin: 0 0 50px 0;
  color: #000;
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: black;
  border: transparent;
  border-bottom: rgba(0, 0, 0, 0.5);
}

.modal__input {
  border: none;
  border-bottom: 1px solid black;
  margin: 0 0 30px 0;
  width: 100%;
}

.modal__save {
  background-color: black;
  color: #fff;
  height: 51px;
  border-radius: 2px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.modal__save:hover {
  opacity: 80%;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  max-width: 430px;
  max-height: 330px;
  border-radius: 10px;
  position: relative;
  max-width: 360px;
  width: 100%;
  border: 1px;
}

.modal__close {
  background-image: url(../images/Close\ Icon.svg);
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

.modal__image {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.modal__image-preview {
  object-fit: contain;
  max-height: 75vh;
  max-width: 75vw;
  width: auto;
  height: auto;
}

.modal__image-title {
  color: #fff;
  width: 100%;
  padding: 10px;
  margin: 40px;
}

/* Modifier for the modal container to make it fit the image preview */

.modal__container_image-preview {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  background-color: transparent;
  max-width: 75vw;
  max-height: 75vh;
  width: auto;
  height: auto;
}

.modal__close_image-preview {
  bottom: calc(100% + 30px);
  left: calc(100% - 30px);
}

@media screen and (max-width: 820px) {
  .modal__container {
    max-width: 246px;
    width: 100%;
  }

  .modal__form {
    max-width: 238px;
    width: 100%;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 20px);
    left: 90%;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    margin: 0 auto;
    padding: 0;
  }

  .modal__container {
    max-width: 260px;
    width: 100%;
    padding: 10px;
  }

  .modal__form {
    max-width: 244px;
    width: 100%;
    padding: 0 0 15px 5px;
  }

  .modal__heading {
    padding: 15px 0 15px 5px;
    max-width: 238px;
    width: 100%;
    font-size: 18px;
  }

  .modal__button {
    padding-left: 5px;
  }

  .modal__close {
    bottom: calc(100% + 30px);
  }
}
